
/* faq */
.faq { min-height: 100vh; padding: 10% 0; background: #00001D; }
.faq .inner { width: 100%; }


.faq_tab { display: flex; justify-content: space-between; }
.faq_tab_box { width: 100%; text-align: center; border-bottom: 1.5px solid #8B7859; padding: 1em 0; cursor: pointer; }
.faq_tab h3 { color: #8B7859; font-size: 2.2em; }

/* 탭 active */
.faq_tab_box.active { border-bottom: 2px solid #DDC49B; }
.faq_tab_box.active h3 { color: #DDC49B; }
/* 패널 제어 */
.faq_panel { display: none; }
.faq_panel.active { display: block; }

/* faq_box */
.js_faq_box { border-bottom: 1.5px solid #DDC49B; padding: 1em; cursor: pointer; }
.js_faq_box p  {color: #fff; word-break: keep-all; }
.faq_box_top { display: flex; align-items: center; justify-content: space-between; }
.faq_box_top p { font-size: 2em; }
.faq_box_top img { width: 5%; }
.faq_box_btm { max-height: 0; overflow: hidden; opacity: 0;
transition: .2s; font-size: 1.2em; line-height: 1.6; margin-top: 0; }

/* 열림 상태 */
.js_faq_box.active { padding: 0; }
.js_faq_box.active .faq_box_top { padding: 1em; }
.js_faq_box.active .faq_box_btm { max-height: 500px; opacity: 1; background: #000; width: 100%; height: 100%; padding: 1em;
font-size: 1.3em; }

/* 화살표 회전 */
.js_faq_box.active .faq_box_top img, .inquiry_box.active img  { transform: rotate(180deg); transition: transform 0.2s ease; }

/* inquiry */
.inquiry_con { margin-bottom: 3.5em; }
.inquiry_empty  { text-align: center; display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center;
height: 30vh; }
.inquiry_empty h2 { font-size: 3em; color: #DDC49B; margin-bottom: 1em; }
.inquiry_empty a, .inquiry_fill a, .inquiry_write button { display: block; color: #DDC49B; text-align: center; font-size: 2.8em;
border: 1.5px solid #DDC49B; padding: .3em 1.5em; border-radius: .5em; width: 80%; margin: 0 auto; box-sizing: border-box; }

.js_inquiry_box { padding: 1em 0; border-bottom: 1.5px solid #DDC49B; cursor: pointer; }
.inquiry_box_top { display: flex; align-items: center; justify-content: space-between; width: 95%; margin: 0 auto; }
.inquiry_box_tit { display: flex; gap: 1em; }
.inquiry_box_tit p:first-child { font-size: 1.7em; }
.inquiry_box_tit p:last-child { color: #000; background: #DDC49B; padding: .3em; border-radius: .3em; font-size: 1.3em; }
.inquiry_box_tit p { color: #fff; }
.inquiry_box_top img { width: 5%; }

.inquiry_box_btm { background: #000; padding: 1em; }
.inquiry_box_btm p { color: #fff; text-align: left; } 

.inquiry_box_btm p:first-child { font-size: 1.5em; margin-bottom: 1em; }
.inquiry_box_btm p:last-child { border: 1.5px solid #D0C9BC; color: #D0C9BC; padding: 1em .5em; border-radius: .3em; font-size: 1.4em; }
.inquiry_answer_not { background: #666; }
.inquiry_box_btm { max-height: 0; overflow: hidden; opacity: 0; transition: .2s; padding: 0; }
.js_inquiry_box.active .inquiry_box_btm { max-height: 500px; opacity: 1; padding: 1em; }
.inquiry_empty { display: none; }

.js_inquiry_box.active .inquiry_box_top { padding-bottom: 1em; }

/* inquiry_write */
.inquiry_write { text-align: center; padding: 10% 0; }
.inquiry_write h2 { color: #fff; font-size: 3em; margin-bottom: 1em; }
.inquiry_write textarea { width: 90%; height: 10em; border-radius: .3em; padding: 1em .5em; margin-bottom: 3.5em; color: #D0C9BC;
font-size: 1.3em; }

.textarea_wrap { position: relative; }
.text_count { position: absolute; right: 1.2em; bottom: 1em; color: #888; font-size: 1.2em; font-weight: 100; }