html { scroll-behavior: smooth; }
* { margin: 0; padding: 0; vertical-align: top; box-sizing: border-box; }
li { list-style: none; }
button { all: unset; cursor: pointer; padding: 0; margin: 0; font: inherit; color: inherit; }
.bg { width: 100%; position: relative; overflow: hidden; }
.bg > img { width: 100%; object-fit: contain; }
.tcolor { color: #fff000; }
.bg_inner { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; flex-direction: column; justify-content: center; padding: 0 1em; }
.inner { width: 95%; margin: 0 auto; padding: 15% 0; }

/* login */
.login_con { text-align: center; }
.login_con h2 { color: #fff;  margin-bottom: 1.5em; font-size: 2.8em; font-family: 'PuradakGentleGothic'; font-weight: 500; }
.login_con ul li { margin-bottom: 1em; }
.login_con ul li:last-child { margin-bottom: 0; }
.login_con ul li button { color: #fff; width: 85%; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; padding: .6em .5em;
font-size: 2.3em; font-weight: 700; border-radius: .3em; box-sizing: border-box; }
.login_con ul li:nth-child(1) button img { width: 12%; }
.login_con ul li:nth-child(2) button img { width: 7%; }
.login_con ul li:nth-child(3) button img { width: 9%; }

.login_con ul li button svg { width: .8em; }
.login_con ul li:nth-child(1) button { background: #FDDC35; }
.login_con ul li:nth-child(2) button { background: #1DC800; }
.login_con ul li:nth-child(3) button { background: #FFFFFF; }
.login_con ul li:nth-child(1) button svg path, .login_con ul li:nth-child(3) button svg path { fill: #2A2A2A; }
.login_con ul li:nth-child(2) button svg path { fill: #fff; }

.login_con ul li:nth-child(1) button, .login_con ul li:nth-child(3) button { color: #2A2A2A; }
