/* login */

.login_wrap { position: relative; width: 100%; height: 45%; }
.saju_frameBox { width: 95%; height: 100%; margin: 0 auto; }
.login_box { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; flex-direction: column; justify-content: center; padding: 0 1em; }

.login_con { text-align: center; }
.login_con h2 { color: #fff;  margin-bottom: 1em; font-size: 2.5em; font-family: 'PuradakGentleGothic'; font-weight: 500; }
.login_con ul li { margin-bottom: 1em; }
.login_con ul li:last-child { margin-bottom: 0; color: #ccc; }
.login_con ul li:nth-child(2) a { text-decoration: underline; color: #e9e9e9; font-weight: 600; }

.login_con ul li:nth-child(3) { font-size: 1.8em; color: #ccc; margin-bottom: .5em; }

.login_con ul li:last-child a { font-size: 2em; display: block; border: 1px solid #fff; width: 85%;
margin: 0 auto; padding: .4em 0; border-radius: .3em; }

.login_con ul li button { color: #fff; width: 85%; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; padding: .4em .4em;
font-size: 2em; font-weight: 700; border-radius: .3em; box-sizing: border-box; }
.login_con ul li:nth-child(1) button img { width: 12%; height: 1.5em; }
.login_con ul li:nth-child(2) button img { width: 12%; height: 1em; }
.login_con ul li:nth-child(3) button img { width: 9%; }

.login_con ul li button svg { width: .7em; }
.login_con ul li:nth-child(1) button { background: #FDDC35; }
.login_con ul li:nth-child(2) button { background: #1DC800; }
.login_con ul li:nth-child(3) button { background: #FFFFFF; }
.login_con ul li:nth-child(1) button svg path, .login_con ul li:nth-child(3) button svg path { fill: #2A2A2A; }
.login_con ul li:nth-child(2) button svg path { fill: #fff; }

.login_con ul li:nth-child(1) button, .login_con ul li:nth-child(3) button { color: #2A2A2A; }

.login_con > img:first-child { position: absolute; top: 5%; left: 8%; width: 13%; }
.login_con > img:nth-child(2) { position: absolute; bottom: 5%; right: 8%; width: 10%; }

.login_con ul li button { min-height: 82px; }



/* media screen */
@media screen and (max-width: 600px) {
.login_con ul li button { min-height: 69px; }
}
@media screen and (max-width: 480px) {
body { font-size: 10px; }
.radio_box span { font-size: 1.2em; } 
.login_con ul li button { min-height: 40px; }
}

