/* product */
.product_menu { width: 100% !important; }


.product_con { margin: 2em auto; }
.js_product_box { position: relative; margin-bottom: 1.5em; transition: .2s; }
.js_product_box:last-child { margin-bottom: 0; }
.js_product_box img { width: 100%; border: 2.5px solid #DDC49B; border-radius: .7em; filter: brightness(.35); transition: .3s; }
.product_tit_wrap { position: absolute; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer;
display: flex; align-items: center; justify-content: space-between; padding: 0 1em; }

.product_tit_wrap h2, .product_tit_wrap h3, .product_tit_wrap h4 { color: #fff; font-family: 'YeogiOttaeJalnanGothic'; transition: .3s; 
font-weight: 500; }
.product_tit_wrap h2 { font-size: 2.3em; margin-bottom: .1em; }
.product_tit_wrap h3 { font-size: 1.3em; }
.product_tit_wrap h4 { font-size: 2em; }

.product_choice { margin-bottom: 2em; }
.js_product_choice_box { color: #DDC49B; text-align: center; border: 1.5px solid #DDC49B; margin-bottom: .5em; cursor: pointer;
font-size: 2em; padding: .3em 0; transition: .3s; margin-bottom: .5em; }

.product_policy { color: #fff; display: flex; gap: .3em; align-items: center; }

.js_product_check { appearance: none; width: 1em; height: 1em; border: 1.5px solid #fff; cursor: pointer; position: relative; flex-shrink: 0; }
.product_policy label { font-weight: 200; cursor: pointer; font-size: .8em; }

.js_product_btn { width: 95%; color: #999; font-size: 2.3em; text-align: center; display: block; border: 1.5px solid #999; border-radius: .5em; padding: .3em .8em;
margin: 1.5em auto 0 auto; transition: .3s; box-sizing: border-box; }

.js_product_box.active img { filter: brightness(.8); }

.js_product_box.active h2, .js_product_box.active h3, .js_product_box.active h4 { color: #DDC49B; text-shadow: 2px 2px 5px #00000034; }


.js_product_check:checked { background: #DDC49B; border-color: #DDC49B; }
.js_product_choice_box.active {
background: #DDC49B;
color: #00001D;
}

.js_product_check:checked::after { content: "\2713"; position: absolute; left: 50%; top: 50%;
transform: translate(-50%, -55%); color: #00001D; font-size: .8em; font-weight: 900; }



/* 기본 상태 (상품만 선택된 상태) */
.js_product_btn.ready { color: #DDC49B; border: 1.5px solid #DDC49B; font-weight: 800; }

/* 결제 가능 상태 */
.js_product_btn.active { background: #DDC49B; color: #00001D; border: 1.5px solid #DDC49B; font-weight: 700; }
.close_btn{ position:absolute; top:20px; right:20px; font-weight: 800; text-align:center; width:2.5em; height:2.5em;
border-radius:50%; background:#DDC49B; color:#000; z-index:5; font-weight:700; }
.payment_modal{ position: fixed; inset: 0; z-index: -1; opacity: 0; visibility: hidden; pointer-events: none;
display:flex; align-items: center; justify-content:center; transition: .25s; }
.payment_modal.active{ opacity: 1; visibility: visible; pointer-events: auto; z-index: 9999; }
.payment_dim{ position:absolute; inset:0; z-index:1; background:rgba(0,0,0,.72); backdrop-filter: blur(6px); }

.product{ position:relative; z-index:2; width:95%; border: 1.5px solid #7b6d55; 
max-width:800px; background:#00001d; border-radius:1.5em; transform:translateY(100%);
transition:.45s cubic-bezier(.77,0,.18,1); max-height:95vh; overflow-y:auto; padding:6em 0 3em; padding-bottom:calc(3em + env(safe-area-inset-bottom)); }
.product .inner { padding: 0; }
.payment_modal.active .product{ transform:translateY(0); }
body.modal_open{ overflow:hidden; height:100dvh; touch-action:none; overscroll-behavior:none; }

.price_choice{ margin-bottom:2em;  }

.js_price_box{ text-align:center; border:1.5px solid #DDC49B; border-radius:.3em; padding:1em 0; cursor:pointer;
transition:.3s; color:#DDC49B; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.js_price_box h3 { display:block; font-size:1.4em; }
.js_price_box span{ display:block; }
.js_price_box img { height: 2.5em; margin-bottom: 1em; }
.js_price_box.active{ background:#DDC49B; color:#00001D; }
.product_choice{ display:none; }
.product_choice.show{ display:block; }



/* 260810추가 */
.product_tit { font-family: 'Noto Serif KR'; font-weight: 700; }
.product_tit span { display: block; font-size: 1.5em; margin-top: .2em; color: #DDC49B; }

.price_type { grid-column: 1 / -1; background: #1b1b1b; padding: 15% 0 10%; border-radius: 0 .5em .5em .5em; border: 1.5px solid #DDC49B; color: #fff; text-align: center; } 

.price_type > h3 { font-size: 1.8em; margin-bottom: 1em; font-family: 'YeogiOttaeJalnanGothic'; font-weight: 100; line-height: 140%; }
.price_type > h3 span { font-size: .7em; margin-top: .3em; display: inline-block; line-height: 130%; }
.price_type > p { font-size: 1.4em; line-height: 135%; margin-bottom: 1.5em; }
.price_type > p span { background: #5f1600; display: inline-block; padding: .05em .2em; }

.choice_type { display: block; }

.choice_type { width: 95%; margin: 0 auto; }
.price_type .js_product_btn {  font-family: 'YeogiOttaeJalnanGothic'; font-weight: 100; padding-top: .5em; color: #000;
background: linear-gradient(#D7B783, #CFAD7A, #CAA772); border: 2px solid #F4E9A3; }


.price_btn_wrap { display: flex; }
.price_btn { border: 1.5px solid #DDC49B; color: #DDC49B; padding: .5em 1em; font-size: 1.8em; border-bottom: 0; position: relative; 
font-weight: 600;}
.price_btn:nth-child(1) { border-top-left-radius: .5em; }
.price_btn:nth-child(2) { border-radius: 0; border-left: 0; border-right: 0; }
.price_btn:nth-child(3) { border-top-right-radius: .5em; }


.price_btn:nth-child(1)::after, .price_btn:nth-child(3)::after
{ position: absolute; top: -.85em; right: -.5em; color: #00001d;
background: linear-gradient(15deg, #FFD900, #FFEB56, #F8FF94, #FFEB56, #FFD900);
padding: 0em .35em; border-radius: 5em; font-size: .65em; font-weight: 700; border: 2px solid #DDC49B; }


.price_btn:nth-child(3)::after { content: '할인'; }
.price_btn:nth-child(1)::after { content: '인기'; }


/* share 토글 */
.js_share_box { display: none; }
.js_share_box.active { display: block; }

/* price_btn 액티브 */
.price_btn.active {
    background: #DDC49B;
    color: #00001D;
}

.price_type_tit { font-size: 2.3em !important; }
.price_type_tit span { margin-top: .5em; }

.price_box { width: 90%; margin: 0 auto 2.5em; }
.price_box li { display: flex; gap: .3em; align-items: center;  margin-bottom: 1em; }
.price_box li img { height: 1.2em; }
.price_box li p { font-size: 1.25em; }

.share:last-child > h3 { font-size: 2em; }
.share:last-child > h3 span { font-size: .8em; margin-top: .5em; }


.pakage_box { font-family: 'YeogiOttaeJalnanGothic'; margin-bottom: 2.5em; }
.pakage_box h3 { color: #DDC49B; background: #583700; width: fit-content; margin: 0 auto .5em; padding: .2em .3em; font-size: 1.6em;
border-radius: .3em; font-weight: 100; }
.pakage_box h3 span { text-decoration: line-through; }
.pakage_box h2 { color: #F9BB56; font-size: 2.5em; font-weight: 100; margin-bottom: .1em; }
.pakage_box img { width: 70%; }



/* 260819 */


@font-face {
    font-family: 'BookendBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/TTBookendBatangSB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

.product_choice_option{display: none;}
.product_choice_option.active{display: block;}

.payment_modal.type3{container-type: inline-size;}
.produc_choice_cardList{
    width: 90%; margin: auto; color: white; margin-bottom: 5%; container-type: inline-size;
    display: flex; flex-direction: column; align-items: center; gap: 1lh;
}
.produc_choice_card{
    width: 100%; display: flex; padding: 5.5% 3.5%; border: 1px solid #D7B783; border-radius: 0.5em;
    justify-content: space-between; align-items: center; cursor: pointer;
}
.produc_choice_card.active{
    background-color: #46001A;
}
.produc_choice_card_L>div{
    display: flex; align-items: center; margin-bottom: 0.5lh; margin-bottom: 2%;
}
.produc_choice_card_L h2{
    font-family: 'BookendBatang'; font-size: 5.5cqw;
}
.produc_choice_card_L span{
    background-color: #A20000; padding: 0.2lh 0.5lh; line-height: 100%; border-radius: 0.5cqw; margin-left: 0.5cqw;
}
.produc_choice_card_L p{
    font-size: 4cqw; color: #D7B783;
}

.produc_choice_card_R{
    display: flex; justify-content: space-between; flex-direction: column; align-items: end;  text-align: right;
}
.produc_choice_card_R h2{
    font-size: 5cqw; color: #D7B783; margin-bottom: 3%;
}
.produc_choice_card_R p{font-size: 3.5cqw; width: fit-content; padding: 0 0.1em; border-bottom: 1px solid white;}

.payment_modal.type3 .product_policy{
    width: 95%; margin: auto;
}

.proudct_choice_explainCard{display: none;}
.proudct_choice_explainCard.active{display: block;}

/* 260901 상품 선택 이미지 */
.product_choice_image { display: none; width: 90%; margin: 0 auto 5%; }
.product_choice_image.active { display: block; }
.product_choice_image img { display: block; width: 100%; height: auto; border-radius: .5em; }
