html { scroll-behavior: smooth; }
* { margin: 0; padding: 0; vertical-align: top; box-sizing: border-box; }
li { list-style: none; }
button { all: unset; cursor: pointer; padding: 0; margin: 0; font: inherit; color: inherit; }
.bg { width: 100%; position: relative; overflow: hidden; }
.bg > img { width: 100%; object-fit: contain; }
.tcolor { color: #fff000; }
.bg_inner { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; flex-direction: column; justify-content: center; padding: 0 1em; }
.inner { width: 95%; margin: 0 auto; padding: 10% 0; }

/* product */
.product { background: #00001D; min-height: 100vh; padding: 20% 0; }
.product_menu { display: flex; align-items: center; position: relative; margin-bottom: 2em; }
.product_menu h2 { font-family: 'PuradakGentleGothic'; font-weight: 500; color: #fff; font-size: 2.8em;
transform: translateX(-50%); position: absolute; left: 50%; }
.product_menu img { width: 60%; }

.product_con { margin-bottom: 2em; }
.js_product_box { position: relative; margin-bottom: 1.5em;}
.js_product_box:last-child { margin-bottom: 0; }
.js_product_box img { width: 100%; border: 2.5px solid #DDC49B; border-radius: .7em; filter: brightness(.4); transition: .3s; }
.product_tit_wrap { position: absolute; width: 100%; height: 100%; top: 0; left: 0; 
display: flex; align-items: center; justify-content: space-between; padding: 0 1em; }

.product_tit_wrap h2, .product_tit_wrap h3, .product_tit_wrap h4 { color: #fff; font-family: 'YeogiOttaeJalnanGothic'; transition: .3s; 
font-weight: 500; }
.product_tit_wrap h2 { font-size: 2.3em; margin-bottom: .1em; }
.product_tit_wrap h3 { font-size: 1.3em; }
.product_tit_wrap h4 { font-size: 2em; }

.product_choice { margin-bottom: 2em; }
.js_product_choice_box { color: #DDC49B; text-align: center; border: 1.5px solid #DDC49B; margin-bottom: .5em; 
font-size: 2em; padding: .3em 0; transition: .3s;  }

.product_policy { color: #fff; display: flex; gap: .5em; align-items: center; }

.js_product_check { appearance: none; width: 1em; height: 1em; border: 1.5px solid #fff; cursor: pointer; position: relative; }
.product_policy label { font-weight: 200; cursor: pointer; }

.js_product_btn { color: #999; font-size: 2.5em; text-align: center; display: block; border: 1.5px solid #999; border-radius: .5em; padding: .3em .8em;
margin: 1.5em auto 0 auto; transition: .3s; }

.product_choice { display: none; }

.js_product_box.active img { filter: brightness(.8); }

.js_product_box.active h2 { color: #DDC49B; }


.js_product_check:checked { background: #DDC49B; border-color: #DDC49B; }
.js_product_choice_box.active {
    background: #DDC49B;
    color: #00001D;
}

/* 기본 상태 (상품만 선택된 상태) */
.js_product_btn.ready {
    color: #DDC49B;
    border: 1.5px solid #DDC49B;
}

/* 결제 가능 상태 */
.js_product_btn.active {
    background: #DDC49B;
    color: #00001D;
    border: 1.5px solid #DDC49B;
    font-weight: 700;
}