html { scroll-behavior: smooth; }
* { margin: 0; padding: 0; vertical-align: top; box-sizing: border-box; }
li { list-style: none; }
button { all: unset; cursor: pointer; padding: 0; margin: 0; font: inherit; color: inherit; }
.bg { width: 100%; position: relative; overflow: hidden; }
.bg > img { width: 100%; object-fit: contain; }
.tcolor { color: #fff000; }
.bg_inner { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; flex-direction: column; justify-content: center; padding: 0 1em; }
.inner { width: 95%; margin: 0 auto; padding: 15% 0; }


.product { background: #00001D; }
.product_menu { display: flex; position: relative; }
.product_menu h2 { font-family: 'PuradakGentleGothic'; font-weight: 500; color: #fff; font-size: 2.8em;
transform: translateX(-50%); position: absolute; left: 50%; }